.f-color{
	color: #636263;
}
.f-active-color{
	color: #49bdfd;
}
	
.bg-color{
background-color: #42b7fb;
}

body{
font-family:Helvetica,Tahoma, 
Arial,"PingFang SC",
STXihei,"Microsoft yahei","WenQuanYi Micro Hei",
sans-serif;
	}
		
::-webkit-scrollbar{
		display: none;
		width: 0 !important;
		height: 0 !important; 
		-webkit-appearance: none;
		background: transparent;
}